<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      SleepExpert
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title class="title"> Schlaftagebuch</ion-card-title>
          </ion-card-header>  
  <ion-text class="ion-text-wrap"> {{today | date:"EEEE":de}}<br> {{today | date:"dd.MM.yyyy":de}}</ion-text>
</ion-card>
<ion-card>
    <ion-card-header>
        <ion-card-title> Morgenprotokoll</ion-card-title>
        <ion-card-subtitle>Bitte am Morgen nach dem Aufstehen ausfüllen</ion-card-subtitle>
      </ion-card-header>  
  <ion-button expand="block" href="/questions/"><ion-icon slot="start" name="book" size="4"></ion-icon>Neuer<br>Morgeneintrag</ion-button>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-title> Abendprotokoll</ion-card-title>
            <ion-card-subtitle>Bitte am Abend vor dem Schlafengehen ausfüllen</ion-card-subtitle>
          </ion-card-header>
      <ion-button expand="block" href="/questionspm/"><ion-icon slot="start" name="book" size="3"></ion-icon>Neuer<br>Abendeintrag</ion-button>
        </ion-card>
</ion-content>
