ion-card-title {
    font-size: 22px;
    text-align: center;
}

.title {
    font-size: 32px;
}

ion-card {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10%;
    padding-bottom: 15px;
    padding-top: 15px;
}



ion-button {

    height: 70px;
    width: 60%;
    font-size: 18px;
    font-style: bold;
    margin-left: auto;
    margin-right: auto;
    
    }