<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      SleepExpert
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>

  <!--back button-->

  <ion-toolbar>
    <ion-buttons slot="start" position="left">
      <ion-back-button defaultHref="home">

      </ion-back-button> Zurück
    </ion-buttons>
  </ion-toolbar>



  <ion-card>
    <ion-card-header>



      <ion-card-title>
        Schlaffenster bestimmen
      </ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/sheep.png">
      </ion-avatar>

    </ion-item>


    <ion-item>
      <ion-label class="ion-text-wrap">
        Wann möchten Sie morgen aufstehen?
      </ion-label>
    </ion-item>

    <!-- a grid for positioning stuff-->
    <ion-grid>
      <ion-row>
        <ion-col>

        </ion-col>


        <ion-item>
          <ion-label>HH:mm</ion-label>
          <ion-datetime displayFormat="HH:mm"></ion-datetime>
        </ion-item>


      </ion-row>


    </ion-grid>


    <div margin-vertical text-right>

      <ion-button fill="outline" color="#c3dcfb">Weiter</ion-button>
    </div>


    <!--Progeress bar: just for estetics and ffun-->
    <ion-progress-bar color="primary" value="0.1"></ion-progress-bar>


  </ion-card>



</ion-content>