<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      SleepExpert
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>

  <!--back button-->

  <ion-toolbar>
    <ion-buttons slot="start" position="left">
      <ion-back-button defaultHref="home">

      </ion-back-button> Zurück
    </ion-buttons></ion-toolbar>
    
    <ion-card>
    <ion-card-header>
      <ion-card-title> Schlaffenster bestimmen </ion-card-title>
    </ion-card-header> 
    
          <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/sheep.png">
      </ion-avatar>
          
    
    
      <ion-label class="ion-text-wrap">
        Wann möchten Sie morgen aufstehen?
      </ion-label>
    </ion-item>

    <!-- a grid for positioning stuff-->
    <ion-grid>
      <ion-row>
        <ion-col>
          <!-- emply space -> Time to the right of the window -->
        </ion-col>


        <ion-item>
          
          <ion-label id="wakeUp"  
          position="floating">HH:mm</ion-label>
         
          <ion-datetime 
          displayFormat="HH:mm" 
          [(ngModel)]="aufstehen" 
          (ionChange) ="dateChanged($event)" ></ion-datetime>

         
         

           
            
        </ion-item>
        
         
      </ion-row>
    </ion-grid>

    <div class="ion-text-right">
      <!-- @  text-right := makes the items be on the 
      right side of the page-->

      <!-- href="/window/que1/" -->
      <ion-button  href="/window/que1/" color = "primary">
        <!-- Add icon to the button
          @slot start:= positions the icon in front of the name -->
        <ion-icon slot="start" name="arrow-forward"></ion-icon>
        <!-- name of button-->
        Weiter

      </ion-button>
    </div>



    <!--Progeress bar: just for estetics and ffun-->
    <ion-progress-bar color="secondary" value="0.1"></ion-progress-bar>


  </ion-card>

  <!-- make the radio buttons or a toggle button-->

</ion-content>