<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      SleepExpert
    </ion-title>
  </ion-toolbar>
</ion-header>


    
<ion-content>
  <br>
  <!--back button-->
  <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>Zurück
      </ion-toolbar>
    </ion-header>
    
   <ion-card>
     <ion-card-header>
       
      
      
       <ion-card-title> 
         Schlaffenster bestimmen
       </ion-card-title>
     </ion-card-header>
     
      
     
     <ion-item>
        <ion-avatar slot="start">
          <img src="assets/img/sheep.png">
        </ion-avatar>
     
      </ion-item>
      
      
     <ion-item>
        <ion-label class="ion-text-wrap">
            Wann möchten Sie morgen aufstehen?
        </ion-label>
      </ion-item>
    
    
      <ion-item>
      <ion-label>HH:mm</ion-label>
      <ion-datetime displayFormat="HH:mm"></ion-datetime>
    </ion-item>
     
  <ion-button fill="outline" color ="#c3dcfb" >Weiter</ion-button>
 
  
  
   </ion-card>
  
   
  
  
  
</ion-content>
