<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        SleepExpert
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
  <br>

  <!--back button-->

  <ion-toolbar>
    <ion-buttons slot="start" position="left">
      
      <ion-back-button defaultHref="/information/">

      </ion-back-button> Zurück
    </ion-buttons></ion-toolbar>
    
    <ion-card>
      <br>
      <div magin-vertical text-center>
          <ion-grid> 
            <ion-row>
              <ion-col size="0.5">
                
              </ion-col>
              <ion-col>
                 <ion-card-title>
            <ion-icon name="trophy"></ion-icon>
            Schlafhygiene 
          </ion-card-title>
              </ion-col>
            </ion-row>
            
          </ion-grid>
        <br>
          </div>  
          <ion-card-content>
            Als Schlafhygiene werden alle Gewohnheiten und Umstände bezeichnet, die für einen gesunden Schlaf förderlich sind.
            Für Menschen, die von Schlafstörungen betroffen sind, ist eine gute Schlafhygiene unverzichtbar: Die konsequente Befolgung einiger einfacher Regeln bewirkt oft schon eine deutliche Verbesserung der Schlafqualität, selbst wenn keine Wunder erwartet werden dürfen. 
            Das Führen eines Schlaftagebuchs hilft dabei, die Einhaltung der Regeln und deren Auswirkungen zu überprüfen und Veränderungen festzustellen. 
            </ion-card-content>
          
          </ion-card>
</ion-content>