<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        SleepExpert
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-card>
  <ion-card-header>
    <ion-card-title>Schlafkrankheit</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p><b>Definition:</b> Mindestens dreimal pro Woche über einen Zeitraum von ein bis drei Monaten kommt es zu Ein- und / oder Durchschlafstörungen oder frühmorgendlichem Erwachen.
    Die Schlafstörungen sind nicht durch andere körperliche oder psychische Störungen bedingt.</p>

    <p><b>Folgen:</b> Die unbefriedigende Schlafdauer oder -qualität beeinträchtigt das Befinden und die Leistungsleistungsfähigkeit am Tag. Es kann zu erheblichem Leidensdruckkommen.
    Betroffen: Etwa sechs Prozent der Bevölkerung.</p>

    <p><b>Diagnose</b> Arztgespräch, Schlaffragebögen, Schlaftagebuch über 14 Tage, gegebenenfalls Aktometrie (Bewegungsmessung, Ruhe- und Aktivitätsprofils tagsüber und nachts über 14 Tage) und weitere Untersuchungen bei Bedarf.</p>

    <p><b>Verlauf</b> Eine Insomnie kann akut auftreten und wieder abklingen, unter bestimmten Voraussetzungen (Fehlanpassungen auf körperlicher, geistiger und psychischer Ebene) aber auch chronisch werden.</p>

    <p><b>Therapie:</b> Selbsthilfemaßnahmen wie gesunder Lebensstil und den Schlaf fördernde Verhaltensweisen ("Schlafkunde"); zusammen mit dem Arzt/Therapeuten eingeleitete Steuerung der Schlafdauer (kontrollierte Schlafanregung und Schlafeinschränkung), kognitive Verhaltenstherapie. Bei Bedarf kurzzeitige ärztliche Verordnung eines Schlafmittels.</p>
  </ion-card-content>
</ion-card>
