<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        SleepExpert
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-card>
<ion-card-header>
<ion-card-title>Therapie</ion-card-title>
</ion-card-header>    
<ion-card-content>
    Aufklärung und Beratung über Schlafstörungen sind die Grundlagen einer Behandlung. Diese umfasst ein Gespräch über den normalen, altersentsprechenden Schlaf und individuelle Schwankungen sowie schlafbezogene Ängste. Mit einer Reihe von Maßnahmen (Schlafhygiene) können Betroffene den Weg zu einem besseren und erholsameren Schlaf selbst bereiten:
    <ul>
    <li>geregelte Schlafzeiten ("Schlaffenster")</li>
    <li>nur bei Müdigkeit ins Bett gehen</li> 
    <li>ruhiger, abgedunkelter, mit 15-18 °C temperierter Schlafraum</li> 
    <li>ein angenehmes „Zu-Bett-Geh-Ritual"</li>
    </ul>
</ion-card-content>
</ion-card>