
ion-card-title {
    font-size: 20px;
}

ion-card-subtitle {
    font-size: 18px;
}

ion-card {
    position:fixed;
    bottom:3%;
 

}

ion-button {

height: 50px;
width: 100%;
font-size: 13px;
font-style: bold;

}


ion-avatar {

    border-color: black; 
    border-width: .01em; 
    border-style:solid;
    width: 40px; 
height : 40px;
}

ion-col {
    margin-bottom: 2%;
    padding-top: 1%;
    padding-bottom: 1%;

}

ion-textarea {
    border: solid .6px grey;
    border-radius:8px;
        width: 80%;
        height: 50px;
        float: right;
        font-size: 14px;
        margin-top:2%;
}

ion-range {
    border: solid .6px grey;
    border-radius:8px;
--bar-height: 7px;
--height: 40px;

    --knob-size: 30px;
    width: 80%;
    float: right;
}

ion-label {
    font-size: 14px;

}

.radio {
margin-left: 50%;

}

ion-datetime {
    border: solid .6px grey;
    border-radius:8px;
    width: 100px;
    height: 30px;
    float: right;
    font-size: 14px;
    text-align:center;

}

ion-input {
    border: solid .6px grey;
border-radius:8px;
    width: 80%;
    height: 30px;
    float: right;
    font-size: 14px;
    margin-top:2%;

}
ion-select {
    border: solid .6px grey;
border-radius:8px;
    width: 400px;
    height: 50px;
    float: right;
    font-size: 14px;
    margin-top:2%;

}

.timeinput {

    width: 100px;
    text-align:center;
}