<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="protocol"></ion-back-button>
    </ion-buttons>
    <ion-title>
      SleepExpert
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
 <ion-card>
      
        <ion-card-header>
            <ion-card-title> Schlaftagebuch</ion-card-title>
            <ion-card-subtitle>Neuer Abendeintrag</ion-card-subtitle>
          </ion-card-header>  
        
    <form #form="ngForm" (ngSubmit)="logForm(form)">
     <ion-list>
      <ion-grid>
      
         <ion-row *ngFor="let question of questions; let i = index, let lastrow = last" >
    <ion-col *ngIf="question.set && question.answer == '0'" size="50%"><ion-avatar><img src="assets/img/sheep.png"></ion-avatar></ion-col>
    <ion-col *ngIf="question.set">
      <ion-label *ngIf="question.set && question.answer == '0'" class="ion-text-wrap">{{question.row}}</ion-label>
      <ion-range *ngIf="question.set && question.answer == '1'" min="1" max="8" step="1" snaps="true" pin="true" [(ngModel)]="form.a1" name="a1" required=true></ion-range>
      <ion-range *ngIf="question.set && question.answer == '2'" min="1" max="8" step="1" snaps="true" pin="true" [(ngModel)]="form.a2" name="a2" required=true></ion-range>
      <ion-range *ngIf="question.set && question.answer == '3'" min="1" max="8" step="1" snaps="true" pin="true" [(ngModel)]="form.a3" name="a3" required=true></ion-range>
      <ion-textarea *ngIf="question.set && question.answer == '4'"  placeholder="Uhrzeit & Dauer in Std./Min. angeben" [(ngModel)]="form.a4" name="a4" required=true></ion-textarea>
      <ion-textarea *ngIf="question.set && question.answer == '5'"  placeholder="Menge und Uhrzeit angeben" [(ngModel)]="form.a5" name="a5" required=true></ion-textarea>
      <ion-range *ngIf="question.set && question.answer == '6'" min="1" max="8" step="1" snaps="true" pin="true" [(ngModel)]="form.a6" name="a6" required=true></ion-range>
      <ion-textarea *ngIf="question.set && question.answer == '7'"  placeholder="Leer lassen, falls es keine besondere Ereignisse gab" [(ngModel)]="form.a7" name="a7" required=true></ion-textarea>
    </ion-col>
    <ion-col *ngIf="question.set && question.nextbtn && !lastrow" size="3">
      <ion-button ion-button (click)="next(i)" class="nextbtn">Weiter</ion-button>
    </ion-col>
    <ion-col *ngIf="question.set && lastrow" size="3" ><ion-button ion-button type="submit" block>Speichern</ion-button>
      </ion-col>
</ion-row>
    </ion-grid>
    </ion-list>
    </form>
</ion-card>





</ion-content>
