<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        SleepExpert
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slider [options]="sliderOpts" (ionSlideNextEnd)="sliderNextEnd()" (ionSlidePrevEnd)="sliderPrivEnd()" (ionSlideReachEnd)="sliderReachEnd()" (ionSlideReachStart)="sliderReachStart()">
    <ion-slide *ngFor="let item of WithingsData">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Withings Sensordaten</ion-card-subtitle>
        <ion-card-title> Schlafdaten für: {{ item.date }}</ion-card-title>
      </ion-card-header>
      <ion-card-content> 
        <div class="chart-wrapper">
          <canvas baseChart 
          [data]="[[item.data.wakeupduration / 60,item.data.lightsleepduration / 60,item.data.deepsleepduration / 60]]"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType">
        </canvas>
      </div>
      </ion-card-content>
    </ion-card>
    </ion-slide> 
  </ion-slides> 

  <ion-toolbar>
      <ion-buttons slot="start" position="left">
        <ion-back-button defaultHref="/withings">
        </ion-back-button> Zurück
      </ion-buttons>
  </ion-toolbar>
  </ion-content>
