<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        SleepExpert
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slider [options]="sliderOpts" (ionSlideNextEnd)="sliderNextEnd()" (ionSlidePrevEnd)="sliderPrivEnd()" (ionSlideReachEnd)="sliderReachEnd()" (ionSlideReachStart)="sliderReachStart()">
    <ion-slide *ngFor="let item of WithingsData">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title> Schlafdaten für: {{ item.date }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        ID: {{ item.id }}, Deep Sleep Duration: {{ item.data.deepsleepduration }} / Light Sleep Duration:  {{ item.data.lightsleepduration }} / WakeUp Count  {{ item.data.wakeupcount }} 
      </ion-card-content>
    </ion-card>
    </ion-slide> 
  </ion-slides> 



  <ion-toolbar>
      <ion-buttons slot="start" position="left">
        <ion-back-button defaultHref="/withings">
        </ion-back-button> Zurück
      </ion-buttons>
  </ion-toolbar>
  </ion-content>
