<ion-header>
    <ion-toolbar>
      <ion-avatar slot="start">
        <img src="assets/img/sheep.png">
      </ion-avatar>
      <ion-title>SleepExpert</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title> Bitte loggen Sie sich ein oder registrieren sie sich</ion-card-title>
      </ion-card-header>
     <ion-grid>
       <ion-col>
         
         
      <!-- access button-->
      <ion-button expand="full" href="../login" >
        <ion-icon slot="start" name="log-in"></ion-icon>
        Einloggen
      </ion-button>
      
       </ion-col>
       
       <ion-col>
         <ion-button expand="full" href = "../register" >
          <ion-icon slot="start" name="log-in"></ion-icon>
          Registrieren
        </ion-button>
       </ion-col> 
     
     </ion-grid>   
      
      <p></p>
      
     
    <br>
    </ion-card>
  
  </ion-content>