<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      SleepExpert
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>

  <!--back button-->

  <ion-toolbar>
    <ion-buttons slot="start" position="left">
      <ion-back-button defaultHref="home">

      </ion-back-button> Zurück
    </ion-buttons>
  </ion-toolbar>
  <ion-card>
  <br>
     
    <div magin-vertical text-center>
      <ion-grid> 
        <ion-row>
          <ion-col size="0.5">
            
          </ion-col>
          <ion-col>
             <ion-card-title>
        <ion-icon name="bed"></ion-icon>
         Schlafplaner 
      </ion-card-title>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    <br>
      </div>  



<ion-grid>
  <ion-row>
    <ion-col size="1">
      <!-- blank col for desin reasons, in this col was the avatar-->
    
  </ion-col>
  <ion-col>
    <!-- first question-->
    <ion-item>
       
      <ion-label class="ion-text-wrap">
        Wann möchten Sie morgen aufstehen?
      </ion-label>
    </ion-item>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <!-- row with inputed data-->
   <ion-col>
    <!-- emply space -> Time to the right of the window -->
     </ion-col>

     <ion-item>
        <ion-label id = "wakeUp"
        position="floating">HH:mm</ion-label>
        <ion-datetime 
        displayFormat="HH:mm"
        value="{{getHourAndMinute()}}"></ion-datetime>
      </ion-item></ion-row></ion-grid>
    

   <ion-row>
      <ion-col size="1"></ion-col>
      <ion-col> 
       <ion-item>
         <ion-label class="ion-text-wrap">
            Wann gehen Sie ins Bett, damit Sie zu dieser Zeit aufstehen können?
          </ion-label>
        </ion-item>  
      </ion-col></ion-row>
       
   <ion-grid> <ion-row>

          <ion-col>
            <!-- emply space -> Time to the right of the window -->
          </ion-col>
  
  
          <ion-item>
            <ion-label id = "sleep"
            position="floating">HH:mm</ion-label>
            <ion-datetime 
            displayFormat="HH:mm"
             value="{{getSleep()}}"></ion-datetime>
          </ion-item></ion-row>
        </ion-grid>
       <!-- 5th row of questions-->
          <ion-item> 
           <ion-avatar slot="start"><img src="assets/img/sheep.png"></ion-avatar> 
           
          <ion-label class="ion-text-wrap">
            Können Sie dann gut schlafen?
          </ion-label>
          <!-- 6th row for choice-->
        </ion-item> 
        <ion-radio-group 
        [(ngModel)]="gutgeschlafen"
        (ionChange) ="restChanged($event)">
          
           <ion-item>
            <ion-label>Ja</ion-label><ion-icon name="happy"></ion-icon>
            <ion-radio 
            id = "ja"
            value="ja"></ion-radio>
            <ion-item>   </ion-item>
          <ion-label></ion-label><ion-label></ion-label>
              <ion-label>Nein</ion-label><ion-icon name="sad"></ion-icon>
              <ion-radio 
              id = "nein"
              value="nein"></ion-radio>
              
            </ion-item>
        </ion-radio-group>
       
    
     
           
           
        
        
          
          
    <div magin-vertical text-right>
      <!-- @ margin-verical text-right := makes the items be on the 
      right side of the page-->

      <ion-button href="/window/que3/" color="primary">
        <!-- Add icon to the button
          @slot start:= positions the icon in front of the name -->
        <ion-icon slot="start" name="arrow-forward"></ion-icon>
        <!-- name of button-->
        Weiter

      </ion-button>
    </div>

    <br><br>

    <!--Progeress bar: just for estetics and ffun-->
    <ion-progress-bar color="secondary" value="0.75"></ion-progress-bar>


  </ion-card>

  <!-- make the radio buttons or a toggle button-->

</ion-content>
