<ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>
            SleepExpert
          </ion-title>
        </ion-toolbar>
      </ion-header>
  
  <ion-content>
    <br> 
    <ion-toolbar>
          <ion-buttons slot="start" position="left">
            <ion-back-button defaultHref="/withings">
            </ion-back-button> Zurück
          </ion-buttons>
      </ion-toolbar>
    <ion-card> 
      <br>
       
       <div magin-vertical text-center>
        <ion-chip *ngIf="hasValidAccessTokenAsBool()" color="success">
        <ion-icon name="checkmark-circle"></ion-icon>
        <ion-label>Erfolgreich mit Withings verbunden.</ion-label>
      </ion-chip>
      <ion-chip *ngIf="! hasValidAccessTokenAsBool()" color="danger">
        <ion-icon name="close-circle"></ion-icon>
        <ion-label>Keine Withings Verbindung erkannt.</ion-label>
      </ion-chip>
    </div>
    <br><br><br>
    <br>
      <ion-grid> 
        <ion-row>
          <ion-col size="2">
            </ion-col>
          <ion-col>
            <ion-card-title>
              <ion-icon  name="person" ></ion-icon>
          App authorisieren
        </ion-card-title>
         </ion-col>
        </ion-row>
       
        <ion-card>
          <ion-button (click)="login()" expand="block">
            <ion-icon slot="start" name="key"></ion-icon>
            Login</ion-button>
            <br>
          
          <ion-button (click)="logoff()" expand="block">
            <ion-icon slot="start" name="log-out"></ion-icon>
            Logoff</ion-button>
            
        </ion-card>
      </ion-grid>
      
      <br><br><br><br><br><br><br><br><br>
      
    </ion-card>
      
  </ion-content>